<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <!--WebService Request Interval-->
    <add key="autorequest_interval" value="1000"/>
    <!--AVLS config-->
    <add key="AVLS_SERVER_IP" value="127.0.0.1"/>
    <add key="AVLS_SERVER_PORT" value="7000"/>
    <add key="AVLS_ACCESS" value="true"/>
    <!--TASK config-->
    <add key="TASK_SERVER_IP" value="192.168.1.29"/>
    <add key="TASK_SERVER_PORT" value="8068"/>
    <add key="TASK_ACCESS" value="true"/>
    <!--log4net settings-->
    <add key="log4net.Config" value="log4net.config"/>
    <add key="log4net.Config.Watch" value="True"/>
    <!--資測會-->
    <add key="STUPID_IP_ADDRESS" value="192.168.1.35"/>
  </appSettings>
</configuration>