<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <!--WebService Request Interval-->
    <add key="autorequest_interval" value="986.1401177140687298272261249288" />
    <!--AVLS config-->
    <add key="AVLS_SERVER_IP" value="192.168.1.29" />
    <add key="AVLS_SERVER_PORT" value="7000" />
    <add key="AVLS_ACCESS" value="true" />
    <!--TASK config-->
    <add key="TASK_SERVER_IP" value="192.168.1.29" />
    <add key="TASK_SERVER_PORT" value="8068" />
    <add key="TASK_ACCESS" value="true" />
    <!--log4net settings-->
    <add key="log4net.Config" value="log4net.config" />
    <add key="log4net.Config.Watch" value="True" />
    <!--iii-->
    <add key="STUPID_IP_ADDRESS" value="192.168.1.35" />
    <!--video-->
    <add key="videoFile" value="test.mp4" />
    <!--play delay time for receive message from gps recorder-->
    <add key="delayTime" value="5000" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>